body {
    padding-top: 80px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#flow-designer {
    height: 700px;
}

.select-panel {
    text-align: center;
}

.flume-component {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: 1px dotted grey;
}


.flume-source {

}

.flume-sink {

}

.agent {
    min-height: 30px;
    width: 190px;
    padding: 10px;
    border: 1px double #000000;
}

.spool-source {
    height: 100px;
}

.avro-source {
    height: 60px;
}

.hdfs-sink {
    height: 100px;
}

.avro-sink {
    height:60px;
}

.toolbar {
    margin-bottom: 5px;
}
.status-container {
    padding-top: 5px;
    text-align: center;
}
